{% extends 'base.html' %}

{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}
 
{% block content %}
{% for room in rooms %}
    <div class="box">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
            <div class="is-flex is-align-items-center">
            <figure class="image is-48x48 mr-3">
            {% if room.image %}
            <img src="{{ room.image.url }}" alt="" loading="lazy">
            {% else %}
            <img src="{{ MEDIA_URL }}cat.jpg" alt="" loading="lazy">
            {% endif %}
             </figure>
            <span> <a href="{{ room.get_absolute_url }}">{{room.name}}</a> 
            </span>
        </div>
    {% if request.user == room.created_by %}
    <a href="{{ room.get_absolute_url_delete }}" class="button is-danger is-small">Delete</a>
    {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
